<section class="form-login">
  <p class="titulo">Iniciar sesión</p>
  <mat-form-field class="campoFormulario" appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="EMAIL">
  </mat-form-field>
  <mat-form-field class="campoFormulario" appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput type="text" formControlName="PASSWORD">
  </mat-form-field>
  <mat-checkbox class="campoFormulario" color="primary">Check me!</mat-checkbox>
  <button mat-raised-button type="submit" color="primary">Iniciar Sesión</button>
</section>
