<section class="form-login">
  <p class="titulo">Iniciar sesión</p>
  <form [formGroup]="form" (ngSubmit)="iniciarSesion()">
    <mat-form-field class="campoFormulario" appearance="outline">
      <mat-label for="emailLogin">Email</mat-label>
      <input matInput type="text" id="emailLogin" formControlName="EMAIL">
    </mat-form-field>
    <mat-form-field class="campoFormulario" appearance="outline">
      <mat-label for="passwordLogin">Password</mat-label>
      <input matInput type="password" id="passwordLogin" formControlName="PASSWORD">
    </mat-form-field>
    <mat-checkbox class="campoFormulario" color="primary" formControlName="RECORDAR">¿Recordar usuario?</mat-checkbox>
    <button mat-raised-button type="submit" color="primary" (click)="iniciarSesion()">Iniciar Sesión</button>
    <button mat-raised-button type="submit" color="primary" routerLink="/registrar-usuario">Crear Cuenta</button>
  </form>
</section>
