<section class="form-crear-usuario">
  <p class="titulo">Crear Usuario</p>
  <form [formGroup]="form">
    <table class="table">
      <tr>
        <td>
          <mat-form-field class="campoFormulario" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="NOMBRE">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="campoFormulario" appearance="outline">
            <mat-label>Apellido</mat-label>
            <input matInput type="text" formControlName="APELLIDO">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="campoFormulario" appearance="outline">
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="FECHA_NACIMIENTO">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="campoFormulario" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="pat@example.com" formControlName="EMAIL">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="campoFormulario" appearance="outline">
            <mat-label>Cargo</mat-label>
            <input type="text" matInput formControlName="ID_CARGO" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let cargo of filteredOptions | async" [value]="cargo.CARGO">
                {{cargo.CARGO}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </td>
        <!-- <td>
          <mat-form-field class="campoFormulario" appearance="outline">
            <mat-label>Cargo</mat-label>
            <mat-select formControlName="CARGO">
              <mat-option value="Desarrollador">Desarrollador</mat-option>
              <mat-option value="Administrador">Administrador</mat-option>
            </mat-select>
          </mat-form-field>
        </td> -->
        <td>
          <mat-form-field class="campoFormulario" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="PASSWORD">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid"
            (click)="crearUsuario()">Crear</button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button mat-raised-button color="warn">Cancelar</button>
        </td>
      </tr>
    </table>
  </form>
</section>
