table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: solid 1px black;
  padding: 5px;
  text-align: center;
}

th {
  font-family: Impact;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 5px 5px gray;
}
