<div class="campoFormulario">
  <mat-form-field>
    <mat-label>Filtrar por</mat-label>
    <input matInput (keyup)="filtrar($event)" #input>
  </mat-form-field>
</div>
<div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="NOMBRE">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <p>
          {{ element.NOMBRE }}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="APELLIDO">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <p>
          {{ element.APELLIDO }}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="FECHA_NACIMIENTO">
      <th mat-header-cell *matHeaderCellDef> F. Nacimiento </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <p>
          {{ element.FECHA_NACIMIENTO | date:'yyyy-MM-dd' }}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="EMAIL">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <p>
          {{ element.EMAIL }}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="ID_CARGO">
      <th mat-header-cell *matHeaderCellDef> Cargo </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <p>
          {{ element | json }}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="PASSWORD">
      <th mat-header-cell *matHeaderCellDef> Password </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <p>
          {{ element.PASSWORD }}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-button color="accent" (click)="editarUsuario(i)">Editar</button>
        <button mat-button color="warn" (click)="eliminarUsuario(i)">Eliminar</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
