<div style="height: auto; max-width: max-content;">
  <div class="container">
    <mat-card style="height: auto; top: 50%;">
      <form [formGroup]="form" (ngSubmit)="eliminarUsuario()">
        <table>
          <tr>
            <td>
              <mat-form-field class="campoFormulario">
                <mat-label>Email</mat-label>
                <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="EMAIL">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="campoFormulario">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="PASSWORD">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <button mat-raised-button class="campoFormulario" type="submit" color="warn">ELIMINAR</button>
            </td>
          </tr>
        </table>
      </form>
    </mat-card>
  </div>
</div>
