.campoFormulario {
  width: 100%;
}

.titulo {
  font-family: Impact;
  font-size: x-large;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 3px 5px 5px gray;
  width: 100%;
  height: auto;
}

.card {
  width: auto;
  height: auto;
  margin: 35px;
}

td, tr {
  width: auto;
  height: auto;
}

button {
  width: 100%;
}
